@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.friend__list {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 75px;
}
.friend__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 25px;
  border: 2px solid #000000;
  border-radius: 8px;
}
.friend__name {
  font-weight: 700;
}
.friend__status_online {
  color: #10e210;
}
.friend__status_offline {
  color: #ffa600;
}

/* edit  */

.friend__container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.friend__avatar {
  border-radius: 50%;
}

.friend__status {
  font-size: 14px;
  font-weight: bold;
}
